## Tuples
### A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

### In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

### Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack
- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

## Creating Tuples

In [1]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items
- Indexing
- Slicing

In [2]:
#indexing
print(t3)
#positive indexing
print(t3[0])
#Negative indexing
print(t3[-1])

(1, 2, 3, 4)
1
4

In [22]:
print(t5[-1][0])

4

### Editing items

In [4]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [5]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [7]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [8]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [9]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [10]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [26]:
# len/sum/min/max/sorted
t = (1,2,3,4)

print(len(t))

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

4

[4, 3, 2, 1]

In [27]:
# count

t = (1,2,3,4,5)

t.count(5)

1

In [28]:
# index
t.index(5)

4

### Difference between Lists and Tuples
- Syntax
- Mutability
- Speed (tupels are after than list)
- Memory (tuples require less space )
- Built in functionality(less function in tuple)
- Error prone(tuple is good to handle error)
- Usability

In [15]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 40.249818325042725
Tuple time 40.09144878387451

In [16]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [17]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [18]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Why use  Tuple?

### Special Syntax

In [19]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [20]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [23]:
# swaping
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [24]:
tuple unpacking
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [25]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))